body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-color: darkgreen;
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    margin-bottom: 5px;
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

button:active {
    background-color: darkgoldenrod;
}